@media (min-width: 1200px) {
    .main-header .search{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .signup-form{
        margin-left: -150px;
        width: 72vw;
    }
    .login-form{
        width: 75vw;
    }
    .crime-record-form{
        margin-left: -80px !important;
        width: 90vw;
    }
    .crime-record-form .crime-location{
        margin-left: -13px !important;
        width: 88vw;
    }
    .main-contents{
        margin: 0 0 0 243px !important;
    }
    .footer{
        margin-left: -250px;
        width: 130.91vw !important;
    }
    .crime-contents{
        width: 73vw;
    }
    .crime-details{
		margin: 0;
		width: 53vw;
	}
    .r-articles{
        display: none;
    }
    .footer{
		margin-left: 130px;
		width: 74vw !important;
	}
	.footer-bottom{
		margin-left: 255px;
		width: 75vw;
	}
    .mb-pagination{
        margin-left: 0;
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    .signup-form{
        margin-left: 20px;
        width: 70vw !important;
    }
    .crime-record-form{
        width: 89vw;
    }
    .crime-record-form .crime-location{
        margin-left: -16px;
        width: 89vw;
    }

    .signup-form{
        width:190%;
    }
    .login-form{
        margin: 10px 0 10px 255px;
        width: 70vw;
    }

    .crime-contents{
        margin-left: -10px;
        width: 73vw;
    }
    .r-articles{
        display: none;
    }
    #ad-sidebar{
        display: inline-block;
        margin-left: 4px !important;
    }
    .ad{
        margin-left: 0 !important;
        width: 30vw;
    }
    .top-menu{
        width: 100%;
        box-sizing: border-box;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0;
    }
    .main-header .search{
        display: none;
    }
    .crime-details{
		margin: 0;
		width: 68vw;
	}
	.footer{
		margin-left:130px;
		width: 64vw;
	}
	.footer-bottom{
		margin-left: 255px;
		width: 64vw;
	}
    .mb-pagination{
        margin-left: 0;
    }
}

@media (max-width: 768px) {

    .signup-form{
        margin-left: 0;
    }
    .login-form{
        margin-left: 7px !important;
        width: 100vw !important;
    }
    .crime-record-form{
        margin: 10px 0 10px 10px !important;
        width: 80vw;
    }
    .crime-record-form .crime-location{
        width: 91vw;
        margin-left: -14px !important;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .main-contents{
        margin: 0 0 0 4px !important;
    }
    .navbar-expand-md{
        margin: 0 0 0 -20px !important;
    }
    .crime-contents{
        width: 90vw;
    }
    .crime-details{
		margin: 0;
		width: 95vw !important;
	}
    .r-articles{
        display: none;
    }
    .ad{
        width: 50vw !important;
        margin-left: 24px !important;
    }
    .footer{
    	left: 135px;
		width: 90px !important;
	}
    .top-menu{
        width: 100%;
        box-sizing: border-box;
        overflow-x: auto;
        white-space: nowrap;
        padding: 1px 0 0 0 !important;
        height: 55px !important;
    }
    .mb-search{
        left: 5px;
        width: 101vw;
    }
    .pgn-links{
        margin-left: 25px;
    }
	.tnc, .privacy-policy, .cookie-policy{
		margin-left: 15px !important;
		margin-right: 10px;
	}
    .mb-pagination{
        margin-left: 0 !important;
        width: 100vw !important;
    }
}

@media (max-width: 767px) {

    .signup-form{
        left: 30px !important;
        width: 20vw;
    }
    .crime-record-form{
        margin: 10px -35px 10px -35px !important;
        width: 93vw;
    }
    .crime-record-form .crime-date{
        width: 80vw;
    }
    .main-contents{
        margin: 0 -5px 0 -5px !important;
    }
    .middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0;
        border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }
    .login-form{
        margin: 10px 0 10px 0;
        width: 95vw;}
    .signup-form{
        width:90vw;
    }
    .footer{
        margin-left: -135px;
        width: 95vw !important;
    }
    .footer-bottom{
		margin-left: 0;
		width: 95vw;
	}
	.footer-bottom .text-right, .footer-bottom .header{
		text-align: center;
	}
	.footer-bottom .licence{
		text-align: center;
		margin-top: 30px;
	}
    .r-articles{
        display: none;
    }
    #ad-sidebar{
        display: none;
    }
    .crime-contents{
        margin-left: -260px;
        width: 100vw !important;
    }
    .crime-details{
		margin-left: 5px;
		width: inherit;
	}
    div.sticky{
        position: relative;
    }
    .top-menu{
        width: inherit;
        box-sizing: inherit;
        overflow-x: auto;
        padding: 1px 0 0 5px !important;
        height: 65px !important;
    }

}

/** smartphones **/
@media (max-width: 415px) {

    h1, h2 { font-size: 32px; }

    .login-form{
        margin: 10px 0 10px 0;
        width: 98vw;
    }
    .login-form input[type='email'], input[type=password]{
        margin-left: -40px;
        width: 83vw !important;
    }
    .login-form input[type=email]{
        height: 3.7em;
    }
    .signup-form{
        margin-left: -35px !important;
        width: 250vw !important;
    }

    .registration-form input{
        margin: 0 -15px 0 -15px !important;
        width: 83vw;
    }

    .main-contents{
        margin: 0 -5px 0 -5px !important;
    }

    .footer{
        top: 0;
        width: 90vw !important;
    }
    .r-articles{
        display: none;
    }
    #ad-sidebar{
        left: -25px;
        display: none;
    }
    #crime-list{
        margin-left: -8px;
        width: 100vw;
    }
    #single-crime{
        width: 1vw;
    }
    div.sticky{
        position: relative;
    }
}

