/**
This is the projects main CSS file
 */

body{
    background-color: #fff;
    font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif;
    font-size: 17px;
    line-height: 1.9;
}
*{
	box-sizing: border-box;
}

a, a:active,hea a:visited {
    outline: none;
    color: #1db79f;
    text-decoration: none;
}

/**** MAIN INDEX****/
.main-contents{
    padding: 3px 0 3px 0;
    margin: 5px 0 0 250px;

}
/***** FOOTER *************/
.footer{
    font-family: Verdana,'Open Sans', arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    background: #222222;
    color: #fefefe;
    width: 80vw;
    left: 125px;
    position: relative;
    padding: 40px 40px 0 40px;
}
.footer h5{
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    line-height: 1.2;
}
.footer p{
    margin-bottom: 15px;
}
.footer p:last-child{
    margin-bottom: 0;
}
.footer a{
    color: #fefefe;
}
.footer a:hover{
    color: #5a78ff;
}
.footer .footer-l-header{
    color: #fefefe;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
}

.footer-bottom{
    background-color: #111;
    margin-left: 253px;
    width: 80vw;
    margin-top: 01px !important;
}
.footer-bottom {
    padding: 15px;
    color: #fff;
}

.footer-bottom a{
    color: #fefefe;
}
.footer-bottom a:link{
    font-size: small;
}

.footer-bottom ul{
	margin-right: 10px !important;
}


/*********/

.horizontal-divider{
    border-bottom: solid 1px grey;
}

/** related articles **/
.related-articles{
    color: #000;
    display: inline-block;
    font-size: 20px;
    font-weight: 800;
    line-height: 29px;
}

.r-articles{
    width: 300px;
    float: right;
    position: absolute;
    right: 0;
}
.r-articles h4{
    border-bottom: solid 1px grey;
    padding-bottom: 10px;
}
.r-articles h4:last-child{
    border-bottom: none;
}

.r-articles a{
    color: #39d0da;
    margin-bottom: 10px;
}
.r-articles a:hover{
    color: #9291da;
}

#crime-list .top-header{
    height: 1.3em;
    line-height: .1em;
    font-style: italic;
    font-size: 75%;
    padding: 1px 5px 3px 0;
}
#crime-list .bottom-header{
    color:#31708f;
    background-color: #e8e2f7;
    border-radius: 0;
    font-size: medium;
    line-height: .6em;
    font-weight: bold;
    overflow: auto
}

#crime-details .panel{
    border: none;
}
#crime-details .panel{
    border-bottom: 1px solid #bfbfbf;
    border-radius: 0;
}

#crime-list .panel-body .btn-info{
    color: #fff;
}
#crime-list .panel-body a:hover {
    text-decoration: underline;
}

/** ADVERT **/
.ad{
    margin-left: -15px !important;
    width: 20vw;
}
.ad .add-caption{
    font-family: 'Open Sans', arial, sans-serif;
    font-style: italic;
}


/*
input[type="text"], input[type="password"], input[type="email"]{
    height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 15px;
    color: #848288;
    font-size: 110%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
*/

/**  HEADER  ***/
.main-header{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #23384e;
    padding: 60px 0 0 0;
}

div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}
.top-menu .wrapper{
    display: inherit;
}
.top-menu{
    background-color: #f5f5f5;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    width: 100%;
    height: 55px !important;
}
.top-menu .accounts-menu{
    padding:  0;
    font-size: larger;
    margin-top: 10px;
}

.top-menu a:first-child {
    margin-left: -10px;
}
.top-menu .accounts-menu li{
    font-family: "PT Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;
    display: inline-block;
    color: #ffffff;
    padding-left: 12px;
}

.top-menu .accounts-menu a{
    color: #666;
    padding: 0 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 10px;
}
.form-header{
    font-size: larger;
    color:green;
}

/********* single page *********/
.page-content{
    margin-left: 255px;
    padding: 5px;
    line-height: 1.9;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

/**
crime record form
 */
.crime-record-form{
    margin:10px 0 10px 0;
    background: #c0c0c3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    border:1px solid blue;
}
.crime-record-form fieldset{
    padding: 5px;
    background: #99a49c;
    font-size: 130%;
}
.crime-record-form label{
    font-style: oblique;

}
.crime-record-form input[type="text"]{
    border:black solid 1px;
}

.crime-record-form textarea
{
    height: 90px;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #141414;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    resize: none;
}

.crime-record-form .crime-record-row{
    margin-left: 0;
    width: 100vw;
}

.crime-record-form .crime-date{
    width: 50%;
}
.crime-record-form .crime-location{
    width: 70vw;
}

/** left sidebar */
.crime-search-form input{
    margin-left: 2.5%;
    background: #f0f9fd;
    border: 1px solid black;
    color: black;
    width: 95%;
    height: 40px;
}

.crime-search-form label{
    color: #000000;
    margin: 0 0 0 5px;
}

.mb-search{
    left: 250px;
    width: 65vw;
}
.mb-pagination{
    margin-left: 240px !important;
    width: 70vw;
}

/**** single crime ***/
.location, .slug, .time{
  color: midnightblue;
    font-size: large;
}
.row {
    margin-top: 5px;
}
#single-crime{
    margin-left: 250px;
    width: 76vw;
}


.r-articles{
    right: 0;

}
.sr-heading{
	margin-left: 10px;
    width: 50vw;
}

.sr-location, .sr-all-params, .sr-date{
	margin-left: 250px !important;
	width: 90vw !important;
}

.sr-type{
	margin-left: 250px !important;
	width: 65vw;
}

.row .crime-details{
	margin: 0 0 0 0;
	width: 65vw;
}


/************* pagination ************/
.pagination {
    padding-left: 0px;
    margin-left: 20px;
    font-family: sans-serif, courier new;
    font-size: 18px;
}

.pagination li {
    float: left;
    padding-right: 10px;
}

.pagination li a.current-link {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

/***** cookie policy  *****/
.js_enabled #cookie-message {
    display: none;
}

#cookie-message{
	line-height: 1em;
	font-size: 140%;
	background-color: #aa0000;
	padding: 5px;
	color: #ffffff
}

